[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
model-mommy = "*"
"flake8" = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
